/*setting default font*/
*{
	font-family: 'Nunito', sans-serif;
}
 
html { 
  background: url(img/sunrise.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
	font-size: 40px;
	/*
	margin-bottom: .7em;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	box-shadow: 6px 6px 10px grey;
	background-color: rgba(102, 102, 255,.4);*/
}

.nav-link{
	text-decoration: none;
	color: black;
	line-height: 80px;
 	transition: all .2s ease-in-out;
}

.nav-link:hover{
 	font-size:1.2em;
	font-weight: bold;
}